body{
    padding-bottom: 300px;
    margin: 0 auto;
    position: relative;
    background-image: linear-gradient(to right top, #6e3cbc, #6e45bf, #6e4dc3, #6f55c5, #705dc8, #676ed2, #617eda, #5e8de0, #60a6e7, #74bceb, #93d1ed, #b8e4f0);
    background-repeat: no-repeat;}
nav>a:nth-child(4){color: #00C6D0;}
/* Định dạng các thẻ trong home */
.gameCard{
    position: relative;
    margin: 15px;}
.gameCard .face{
    width: 350px;
    height: 350px;
    transition: 0.5s;}
.gameCard .face.face1{
    border-radius: 20px;
    position: relative;
    background-color: #333;
    display: flex;
    justify-content: center;
    z-index: 1;
    transform: translateY(100px);}
.gameCard:hover .face.face1{
    border-radius: 20px 20px 0 0;
    background: #ff0057;
    transform: translateY(0);}
.gameCard .face.face1 .gameContent{
    opacity: 0.2;
    transition: 0.5s;}
.gameCard:hover .face.face1 .gameContent{opacity: 1;}
.gameCard .face.face1 .gameContent img{
    max-width: 300px;
    position: relative;
    top: 28px;}
.gameCard .face.face1 .gameContent h3{
    margin: 14px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    position: relative;
    top: 20px;}
.gameCard .face.face2{
    border-radius: 20px;
    position: relative;
    background: linear-gradient(45deg, #B0A8B9, #4B4453) ;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-250px);}
.gameCard:hover .face.face2{
    border-radius: 0 0 20px 20px;
    transform: translateY(0);} 
.gameCard .face.face2 .gameContent p{
    margin: 0;
    padding: 0;}
.gameCard .face.face2 .gameContent a{
    margin: 20px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    transition: 0.5s;}
.gameCard .face.face2 .gameContent a:hover{
    transform: scale(1.2);
    background: #B0A8B9;
    color: #192F37}